<nav class="navbar navbar-expand bg-primary shadow" xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand mx-2" ><h1 class="text-light">TicTacToe</h1></a>
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/leader-board']" class="nav-link text-light rounded" style="font-size: 15pt">Leader Board</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a [routerLink]="['/queue']" class="nav-link text-light rounded" style="font-size: 15pt">Game</a>
  </ul>
  <ul class="nav navbar-nav me-2">
    <li *ngIf="!isLoggedIn()">
      <div class="btn-nav"><a [routerLink]="['/login']" class="btn btn-link btn-small navbar-btn text-light">Sign in</a>
      </div>
    </li>
    <li *ngIf="!isLoggedIn()">
      <div class="btn-nav"><a [routerLink]="['/register']" class="btn btn-light btn-small navbar-btn">Sign up</a>
      </div>
    </li>
    <li *ngIf="isLoggedIn()">
      <div class="btn-nav"> <button (click)="logout()" class="btn btn-light btn-small navbar-btn">Logout</button>
      </div>
    </li>
  </ul>
</nav>
